/* @font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.box {
    height: 400px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 14px;
}
.box img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
}